body {
  margin: 0;
  padding: 0;
}
ul {
  position: relative;
  width: 400px;
  /* margin-left: 100px; */
  padding: 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}
li {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  background: pink;
  padding: 10px 20px;
  color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}
.iconss {
  padding-top: 3px;
}
.number {
  padding-left: 20px;
}
li:nth-child(1) {
  background: rgba(221, 160, 221, 0.644);
}
li:nth-child(2) {
  background: rgba(226, 44, 24, 0.685);
}
/* li span:nth-child(1) {
  width: 30px;
}
li span:nth-child(2) {
  width: 200px;
} */
li:hover {
  transform: scale(0.9);
  background: #ff3772;
}
@media (min-width: 650px) and (max-width: 1330px) {
  ul {
    position: relative;
    width: 300px;
    /* margin-left: 100px; */
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
  }
  li {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    background: pink;

    color: #fff;
    margin: 0 0;
    transition: 0.4s;
  }
}
@media (min-width: 400px) and (max-width: 650px) {
  ul {
    position: relative;
    width: 350px;
    /* margin-left: 100px; */
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 400px) {
  ul {
    position: relative;
    width: 300px;
    /* margin-left: 100px; */
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
  }
}
